/*审核认领页面样式*/
.uncheck{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;

}
.uncheck .chosen{
    padding-top: 5px !important;
    padding-left: 20px;
}

.detailForm .ant-card-head-title{
    font-size: 17px !important;
    font-weight: 600;
}
.modal .ant-modal-header{
    border-bottom: 0ch;
}
.modal .ant-modal-footer{
    border-top: 0;
    padding-top: 0;
    padding-right: 20px;
    padding-bottom: 20px;
}
.modal .ant-modal-title{
    font-size: 19px !important;
    font-weight: 600;
}
.uncheck .count{
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;
}