/*审核认领页面样式*/
.check{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;

}
.check .chosen{
    padding-top: 5px !important;
    padding-left: 20px;
}
.check .ant-btn{
    border-radius: 8px;

}
.check .ant-btn-primary{
    border-color:#3182ce;
    background-color: #3182ce;
}

.check .css-1eu8csq{
    background-color: #805AD5 !important;
}

.check .css-1xtr6yu{
    background-color: #3A3AF1;
}
.check .css-hipoo1{
    background-color: #805AD5;

}