/* Serach */
.site-card-border-less-wrapper{
    margin:auto;
    height: 490px;
    overflow: auto;
    margin-top: 10px;
    margin-left: 10px;
    padding: 30px 20px 40px 20px;
}
/*面包屑*/
.site-card-border-less-wrapper .css-spn4bz:hover{
    color: #a3a3d0;
}

/*publish time*/
.site-card-border-less-wrapper .time{
    font-size: 16px;
    font-weight: 550;
    margin-left:75px;
    margin-top:5px;
}
.site-card-border-less-wrapper .datePicker{
    width: 615px;
    height: 40px;
    border-radius: 8px;
    background: white;
    border: 1.5px #a0aec051 solid;
}
.site-card-border-less-wrapper .ant-picker-focused{
    border-color: #a3a3d0!important;
    box-shadow: 0 0 0 2px #a3a3d0!important;
}
.site-card-border-less-wrapper .ant-picker-focused,.ant-picker:hover{
    border-color: #a0aec0a0 !important;
}

/* Description */
.description{
    margin:auto;
    overflow: auto;
    height: 350px;
    width: 420px;
    margin-top: 10px;
    padding: 30px 30px 50px 30px;
}
.d0::after{
    content: "\01f447";
}
.d1:before {
    content:"\01F511";
}
.d2:before {
    content:"\01F4DA";
}
.d3:before {
    content:"\01F4DD";
}


/* search_button */
.css-730w10{
 background: #3652ba !important;
}
.css-730w10:hover{
    background: #3653bab3 !important;
}
.css-yw8y58{
    background: #3652ba !important;
}
.css-yw8y58:hover{
    background: #3653bab3 !important;
}