.site-card-border-less-wrapper{
    margin:auto;
    width: 1200px;
    margin-top: 50px;
    margin-bottom: 50px !important;
    padding: 50px 30px 50px 30px;
}


.site-card-border-less-wrapper .css-xhcj5{
    border-radius: 8px !important;
    border: 2px #e3e3e3 solid !important;
    font-size: 16px;
    font-weight: 550;
}

.site-card-border-less-wrapper .css-1kp110w{
    border: 2px #e3e3e3 solid !important;
}

.site-card-border-less-wrapper .datePicker{
    width: 665px;
    height: 40px;
    border-radius: 8px;
    border: 2px #e3e3e3 solid;
}
.site-card-border-less-wrapper .ant-picker-focused{
    border-color: #3182ce!important;
    box-shadow: 0 0 0 1.5px #3182ce !important;
}
.site-card-border-less-wrapper .ant-picker-focused,.ant-picker:hover{
    border-color: rgb(196, 196, 196) !important;
}

