.site-card-border-less-wrapper{
    margin:auto;
    width: 800px;
    height: 900px;
    margin-top: 50px;
    margin-bottom: 50px !important;
    padding: 20px 50px 20px 50px;
}

.item{
    margin-top: 10px;
}

.item .css-g6pte{
    font-weight: 550 !important ; 
    font-size: 16px !important ;
}

.datePicker{
    width: 700px;
    height: 38px;
    border-radius: 8px;
    border: 1px #e3e3e3 solid;
}
.ant-picker-focused{
    border-color: #3182ce!important;
    box-shadow: 0 0 0 1.5px #3182ce !important;
}
.ant-picker-focused,.ant-picker:hover{
    border-color: rgb(196, 196, 196) !important;
}

