.journal .title{
    margin:auto;
    height: 400px;
    width: 900px;
    margin-top: 50px;
    margin-left: 80px;
    padding: 70px;
}

.journal .link{
    margin-top: 20px;
    margin-left: 70px;
    font-size: 16px;
    letter-spacing:0.4mm;
}

.journal .title .css-spn4bz:hover {
    color: #000000 !important;
}

.journal .index{
    margin:auto;
    margin-top: 60px;
    margin-left: 100px;
}

.journal .index-data{
    text-align: center;
}

.journal .index-name{
    color: #A0AEC0;
    margin-top: 10px;
    text-align: center;
    letter-spacing: 0.5mm;
}

.journal .keywords{
    margin:auto;
    height: 400px;
    width: 600px;
    margin-top: 50px;
    padding: 30px;
}

.journal .concepts{
    margin-top : 10px;
    height:300px;
    overflow: auto;
    
}

.journal .keywordItem{
    margin-left: 5px;
    margin-top: 10px;
    font-weight: 600;
}

.journal .chart{
    margin:auto;
    height: 360px;
    margin-top: 50px;
    padding: 40px 20px 30px 10px;
}

.journal .chart-icon{
    font-size: 28px;
    color: #422afb !important;
    margin-top: 3px;
    margin-left: 15px;
}

.journal .chart-head{
    font-size: 23px !important;
    margin-left: 10px;
    margin-bottom: 10px;
    letter-spacing:0.7mm;
}

.journal .apexcharts-menu-item {
    width: 105px;
}

.journal .list{
    margin:auto;
    width: 1570px;
    margin-top: 50px;
    margin-left: 80px;
    padding: 50px;
}

.journal .institutionList{
    padding: 40px;
}

.journal .institutionList .ant-table-thead>tr>th {
    color: #A0AEC0;
    font-weight: 800;
    font-size: 17px;
}

.journal .institutionList .ant-table-tbody>tr>td {
    font-size: 15px;
    font-weight: 550;
}

.journal .institutionList .css-spn4bz:hover {
   color: #1b3bbb;
}

.journal .institution-Title{
    margin-left: 20px;
    margin-top: 3px;
    letter-spacing: 0.7mm;
    font-weight: 600;
    font-size: 24px;
}