.portal .chart{
    margin:auto;
    height: 360px;
    margin-top: 50px;
    padding: 40px 20px 30px 10px;
}

.portal .chart-icon {
    font-size: 28px;
    color: #422afb !important;
    margin-top: 3px;
    margin-left: 15px;
}

.portal .chart-head{
    font-size: 23px !important;
    margin-left: 10px;
    margin-bottom: 10px;
    letter-spacing:0.7mm;
}

.portal .apexcharts-menu-item {
    width: 105px;
}