
.paperdetail{
    background-color: rgb(230,235,247);
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
}


.paperdetail .ab{
    margin-top : 5px;
    max-height: 230px;
    overflow: auto;
    margin-bottom: 15px;
}