.institute{
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.icard .insinfo{
    padding-top: 20px;
    word-wrap: break-word;
}

.icard .ant-card{
    border-radius: 15px 0 0 15px;
    width: 900px;
    height: 300px;
    padding-right: 25px;
    padding-top: 20px;
    border: 0px;
    background: linear-gradient(90deg,#d8e0e5, rgba(158, 171, 196, 0.8));
}
.icard .title{
    font-size: 30px;
    font-weight: 600;
}

.icard .ant-btn{
    border-radius: 8px;
}

.icard .ant-card-meta-title{
    font-size: 14px;
    margin-bottom: 0 !important;
    color: #878989 !important;

}
.icard .ant-card-meta-description{
    font-weight: 600 !important;
    font-size: 25px !important;
}

.scard .ant-card{
    border-radius: 0 15px 15px  0;
    width: 360px;
    height: 300px;
    padding-left: 10px;
    padding-top: 5px;
    border: 0;
    background: linear-gradient(90deg, rgba(158, 171, 196, 0.8), #d8e0e5);
}
.scardInfo{
    height: 60px;
}
.scardInfo .title1{
    display: inline;
    font-size: 18px;
    font-weight: 500;
    padding-right: 10px;
}

.scardInfo .num1{
    display: inline;
    font-size: 26px;
    color: #3A3AF1;
}

.scardInfo .icon1{
    display: inline;
    margin-bottom: -5px;
    width: 25px;
    height: 25px;
    color: rgb(155, 152, 152);
    margin-right: 10px;
    color: #422afb !important;
}

.institute .chart{
    margin:auto;
    height: 360px;
    padding: 30px 30px 30px 30px;
}

.institute .chart-icon{
    font-size: 28px;
    color: #422afb !important;
    margin-top: 3px;
    margin-left: 15px;
}

.institute .chart-head{
    font-size: 23px !important;
    margin-left: 10px;
    margin-bottom: 10px;
    letter-spacing:0.7mm;
}

.institute .apexcharts-menu-item {
    width: 105px;
}

.institute .title2{
    font-weight: 600;
    margin-top: 30px;
    font-size: 22px;
}

.institute .chart .ant-table{
    background: #11111100 !important;
}

.institute .chart .ant-table-thead .ant-table-cell{
    background: #EDF2F7 !important;
    font-weight: 600;
}